body {
  margin: 0; }
  body .header {
    color: #ffffff;
    background: url(../img/m-h-night.jpg) no-repeat center top/cover;
    height: 100vh;
    width: 100%;
    border-radius: 0px 0px 430px 0px; }
  body .landing-logo {
    padding: 20px 0px 0px 200px;
    display: flex; }
  body p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-left: 20px; }
  body .header_heading {
    position: relative;
    align-items: flex-start;
    margin: 0;
    padding: 50px 0px 50px 200px;
    font-size: 40px;
    font-weight: 600;
    max-width: 400px;
    z-index: 90; }
    body .header_heading:after {
      content: ' ';
      display: block;
      position: absolute;
      background: #ff4e33;
      top: 100px;
      left: 200px;
      width: 160px;
      height: 40px;
      z-index: -1; }
  body .header_text {
    max-width: 600px;
    letter-spacing: 0.12em;
    white-space: pre-line;
    font-size: 11px;
    padding: 46px 0px 0px 160px; }
